<div class="row h-100 d-block text-center">
    <a href="{{@site.url}}/rss" title="RSS"><i class="fas fa-rss-square fa-2x"></i></a>
    {{#if @site.twitter}}
      <a href="https://twitter.com/{{@site.twitter}}" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>
    {{/if}}  
    {{#if @site.facebook}}
      <a href="https://facebook.com/{{@site.facebook}}" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
    {{/if}}  
</div>


