<div class="theme-name-footer">
  <p>Zen by <a href="https://canitiathemes.com/" target="_blank" rel="noopener noreferrer">CanitiaThemes</a></p>
</div>

<div class="row">
    <a href="{{@site.url}}/rss" title="RSS"><i class="fas fa-rss-square"></i></a>
    {{#if @site.twitter}}
      <a href="https://twitter.com/{{@site.twitter}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter-square"></i></a>
    {{/if}}  
    {{#if @site.facebook}}
      <a href="https://facebook.com/{{@site.facebook}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square"></i></a>
    {{/if}}  
</div>


