{{!< default}} {{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
  <div class="col-12">
   <div class="main-content">
    {{> 'post/card-basic'}}
    {{#if pagination}}
    {{pagination}}
    {{/if}}
  </div>
  </div>